@{
    ViewData["Title"] = "GetMapView";
}
<br /><br />
<div>
    <h2>@ViewBag.Message</h2>
    <div id="accessLocation">
        We can help you better if we know where you are . would you like use to your location information?(Click no to provide zip/pin code manually)
        <input type="button" id="yesLocation" name="name" value="Yes" />
        <input type="button" id="noLocation" name="name" value="No" />

    </div>
</div>
<div id="autoLocation">
    <ul>
        <li>
            <div style="float:left; width:75px">
                Latitude
            </div>
            <input type="text" id="lat" />
        </li>
        <br />
        <li>
            <div style="float:left; width:75px">
                Longitude
            </div>
            <input type="text" id="lon" />
        </li>
    </ul>
</div>

<div id="manualLocation">
    Please enter the zip/pin of your current location:
    <input type="text" id="zip" name="name" value="" />
</div>
<div id="mapArea">
<input type="button" id="getMap" name="name" value="Show Map" />

<div id="googleMap" style='width:600px;height:400px; '></div>
<input type="button" id="getCity" name="name" value="Get city" />
</div>
<br />
<div id="addressDiv">
    <ul>
        <li>
            <div style="float:left; width:75px">
                address
            </div>
            <input  type="text" id="address" />
        </li>
        <br />
        <li>
            <div style="float:left; width:75px">
                city
            </div>
            <input type="text" id="cityName" />
        </li>
    </ul>
</div>
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6WWN6mm8MeB0KGxxqHYnPbR9knHJN91c"></script>
    <script language="javascript" type="text/javascript">
        
        $(function () {

            $("#autoLocation").hide();
            $("#manualLocation").hide();
            $("#mapArea").hide();
            $("#addressDiv").hide();


            $("#yesLocation").click(
                function () {
                    $("#accessLocation").hide();
                    $("#autoLocation").show();
                    $("#manualLocation").hide();
                    $("#mapArea").show();
                    var options =
                        {
                            enableHighAccuracy: true,
                            timeout: 20000,
                            maximumAge: 2000
                        };
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPostion, PositionError, options
                        );
                    }
                    else {
                        showNoLocation();
                    }
                }
            );

            $("#getMap").click(
                function () {
                    //var mapProp = {
                    //    center: new google.maps.LatLng($("#lat").val(), $("#lon").val()),
                    //    zoom: 15,
                    //};
                    //var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                    var lat = $("#lat").val();
                    var lon = $("#lon").val();
                    var myCenter = new google.maps.LatLng(lat, lon);
                    var mapCanvas = document.getElementById("googleMap");
                    var mapOptions = { center: myCenter, zoom: 15 };
                    var map = new google.maps.Map(mapCanvas, mapOptions);
                    var marker = new google.maps.Marker({ position: myCenter });
                    marker.setMap(map);
                    
                    
                }
            );

            $("#getCity").click(
                
                function codeLatLng(lat, lng) {
                    geocoder = new google.maps.Geocoder();
                    var latlng = new google.maps.LatLng($("#lat").val(), $("#lon").val());
                    var cityName;//don't use city it seems like have sth in it;
                    var address;
                    
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            console.log(results)
                            if (results[1]) {
                                //formatted address
                                //alert(results[0].formatted_address);
                                address = results[0].formatted_address;
                                $("#address").val(results[0].formatted_address)
                                //alert(address);
                                //find country name
                                for (var i = 0; i < results[0].address_components.length; i++) {
                                    for (var b = 0; b < results[0].address_components[i].types.length; b++) {
                                        //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                                        if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                            //this is the object you are looking for
                                            city = results[0].address_components[i];
                                            break;
                                        }

                                        if (results[0].address_components[i].types[0] == "locality") {
                                            cityName = results[0].address_components[i].long_name;
                                            
                                            //alert(cityName);
                                        }
                                    }
                                };
                                //city data
                                $("#cityName").val(cityName)
                                //alert(city.short_name + " " + city.long_name);


                            } else {
                                alert("No results found");
                            }
                        }
                        else {
                            alert("Geocoder failed due to: " + status);
                        }
                    });
                    
                    $("#addressDiv").show();

                    //$("#address").val(address)
                    //$("#city").val(cityName)
                    
                }
                
            );

            $("#noLocation").click(
                function () {
                    showNoLocation();

                }
            );

            function showNoLocation() {
                $("#accessLocation").hide();
                $("#autoLocation").hide();
                $("#manualLocation").show();

            }

            function showPostion(position) {
                var coordinates = position.coords;
                $("#lat").val(coordinates.latitude)
                $("#lon").val(coordinates.longitude)

            }
            function PositionError(postion) {
                switch (postion.code) {
                    case 0:
                        showNoLocation()
                        break;
                    case 1:
                        showNoLocation()
                        break;
                    case 2:
                        showNoLocation()
                        break;
                    case 3:
                        showNoLocation()
                        break;
                    default:
                        break;

                }

            }
        }
        );
    </script>
}